In [ ]:
import streamlit as st
import pandas as pd
import os
import geopandas as gpd

# Caminho para o arquivo shapefile
shapefile_path = os.path.join(os.getcwd(), 'shapefile', 'PB_Municipios_2022.shp')  # Certifique-se de que o nome do arquivo está correto

# Carregar o shapefile
data = gpd.read_file(shapefile_path)

# Salvar como GeoJSON
data.to_file('municipios_paraiba.geojson', driver='GeoJSON')

# Caminho relativo para o diretório onde estão os arquivos .csv
diretorio_csv = os.path.join(os.getcwd(), 'Dados_csv')

# Função para carregar dados diretamente dos arquivos CSV
def load_data(diretorio_csv):
    dataframes = []
    for arquivo in os.listdir(diretorio_csv):
        if arquivo.endswith('.csv'):
            caminho_completo = os.path.join(diretorio_csv, arquivo)
            try:
                # Definir os tipos de dados esperados para as colunas problemáticas
                dtypes = {
                    'IDADEMAE': 'float64',  # Exemplo, ajuste conforme necessário
                    'CODMUNNASC': 'str',     # Manter como string
                    'PESO': 'str'            # Manter como string antes da conversão
                }
                
                # Carregar cada arquivo CSV em um DataFrame e adicionar à lista
                df = pd.read_csv(caminho_completo, dtype=dtypes)
                dataframes.append(df)
            except Exception as e:
                st.error(f'Erro ao ler o arquivo {arquivo}: {e}')
    
    # Concatenar todos os DataFrames em um único DataFrame, se houver dados
    if dataframes:
        df_total = pd.concat(dataframes, ignore_index=True)
        return df_total
    else:
        st.warning('Nenhum arquivo .csv encontrado ou lido.')
        return None

# Carregar os dados CSV
df_total = load_data(diretorio_csv)

# Função para pré-processamento dos dados
def preprocess_data(df):

    try:
        # Converte a coluna DTNASC para datetime
        df['DTNASC'] = pd.to_datetime(df['DTNASC'], format='%d%m%Y', errors='coerce')
        
        # Converte a coluna PESO para string, substitui vírgulas por pontos e remove espaços
        df['PESO'] = df['PESO'].astype(str).str.replace(',', '.').str.strip()
        
        # Converter para float, forçando valores inválidos a serem NaN
        df['PESO'] = pd.to_numeric(df['PESO'], errors='coerce')
        
        # Converter a idade da mãe para numérico
        df['IDADEMAE'] = pd.to_numeric(df['IDADEMAE'], errors='coerce')

        # Garantir que CODMUNNASC seja uma string
        df['CODMUNNASC'] = df['CODMUNNASC'].fillna('').astype(str)

        # Filtragem para pesos abaixo de 2500 e códigos de município que começam com '25'
        df_baixo_peso = df[(df['PESO'] < 2500) & (df['PESO'] > 0) & (df['CODMUNNASC'].str.startswith('25'))].reset_index(drop=True)
        
        # Adiciona a coluna 'Ano' ao DataFrame df_baixo_peso
        df_baixo_peso['Ano'] = df_baixo_peso['DTNASC'].dt.year

        return df_baixo_peso
    except Exception as e:
        st.error(f"Erro durante o pré-processamento: {e}")
        return None


# Inicializa df_baixo_peso como None
df_baixo_peso = None

# Verifique as colunas do GeoDataFrame
if 'CD_MUN' in data.columns and 'NM_MUN' in data.columns:
    municipios_mapping = data[['CD_MUN', 'NM_MUN']].copy()
    municipios_mapping.columns = ['CODMUNNASC', 'Nome_Municipio']
else:
    raise ValueError("As colunas 'CD_MUN' e 'NM_MUN' não estão presentes no GeoDataFrame.")

# Garantir que CODMUNNASC seja string para corresponder com os DataFrames
municipios_mapping['CODMUNNASC'] = municipios_mapping['CODMUNNASC'].astype(str)

# Mesclar o nome do município em df_baixo_peso e df_total
if df_total is not None:
    df_total = df_total.merge(municipios_mapping, on='CODMUNNASC', how='left')
    df_baixo_peso = preprocess_data(df_total)  # Chama a função de pré-processamento
    if df_baixo_peso is not None:
        df_baixo_peso = df_baixo_peso.merge(municipios_mapping, on='CODMUNNASC', how='left')

C:\Users\PICHAU\AppData\Local\Temp\ipykernel_1560\3851348874.py:33: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(caminho_completo, dtype=dtypes)
C:\Users\PICHAU\AppData\Local\Temp\ipykernel_1560\3851348874.py:33: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(caminho_completo, dtype=dtypes)
C:\Users\PICHAU\AppData\Local\Temp\ipykernel_1560\3851348874.py:33: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(caminho_completo, dtype=dtypes)

In [7]:
df_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1412699 entries, 0 to 1412698
Data columns (total 73 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   contador        1079936 non-null  float64
 1   LOCNASC         1412699 non-null  int64
 2   CODMUNNASC      1412699 non-null  object
 3   IDADEMAE        1410482 non-null  float64
 4   ESTCIVMAE       1392277 non-null  float64
 5   ESCMAE          1380622 non-null  float64
 6   QTDFILVIVO      1336925 non-null  float64
 7   QTDFILMORT      1273027 non-null  float64
 8   CODMUNRES       1412699 non-null  int64
 9   GESTACAO        1396306 non-null  float64
 10  GRAVIDEZ        1410485 non-null  float64
 11  PARTO           1410278 non-null  float64
 12  CONSULTAS       1408449 non-null  float64
 13  DTNASC          1405476 non-null  datetime64[ns]
 14  SEXO            1412699 non-null  object
 15  APGAR1          1369093 non-null  float64
 16  APGAR5          1344458 non-null  float64
 17  RACACOR         1308909 non-null  float64
 18  PESO            1410370 non-null  float64
 19  CODANOMAL       11743 non-null    object
 20  CODESTAB        1348436 non-null  float64
 21  CODOCUPMAE      1084763 non-null  float64
 22  IDANOMAL        1308488 non-null  float64
 23  CODBAINASC      48214 non-null    float64
 24  CODBAIRES       184099 non-null   float64
 25  UFINFORM        496288 non-null   float64
 26  HORANASC        1033991 non-null  object
 27  DTCADASTRO      1035698 non-null  float64
 28  DTRECEBIM       1035455 non-null  float64
 29  ORIGEM          794027 non-null   float64
 30  CODCART         21646 non-null    float64
 31  NUMREGCART      20060 non-null    float64
 32  DTREGCART       20312 non-null    float64
 33  CODPAISRES      619909 non-null   float64
 34  NUMEROLOTE      794026 non-null   float64
 35  VERSAOSIST      794025 non-null   object
 36  DIFDATA         794015 non-null   float64
 37  DTRECORIG       174278 non-null   float64
 38  NATURALMAE      719184 non-null   float64
 39  CODMUNNATU      727610 non-null   float64
 40  SERIESCMAE      496645 non-null   float64
 41  DTNASCMAE       720102 non-null   float64
 42  RACACORMAE      683867 non-null   float64
 43  QTDGESTANT      719575 non-null   float64
 44  QTDPARTNOR      711294 non-null   float64
 45  QTDPARTCES      705536 non-null   float64
 46  IDADEPAI        155274 non-null   float64
 47  DTULTMENST      609953 non-null   float64
 48  SEMAGESTAC      720663 non-null   float64
 49  TPMETESTIM      613892 non-null   float64
 50  CONSPRENAT      662044 non-null   float64
 51  MESPRENAT       703140 non-null   float64
 52  TPAPRESENT      726464 non-null   float64
 53  STTRABPART      718534 non-null   float64
 54  STCESPARTO      665772 non-null   float64
 55  TPROBSON        682631 non-null   float64
 56  STDNEPIDEM      794026 non-null   float64
 57  STDNNOVA        794027 non-null   float64
 58  RACACOR_RN      7115 non-null     float64
 59  RACACORN        2145 non-null     float64
 60  ESCMAE2010      660177 non-null   float64
 61  CODMUNCART      56854 non-null    float64
 62  CODUFNATU       614056 non-null   float64
 63  TPNASCASSI      614376 non-null   float64
 64  ESCMAEAGR1      606491 non-null   float64
 65  DTRECORIGA      56083 non-null    float64
 66  TPFUNCRESP      543626 non-null   float64
 67  TPDOCRESP       559590 non-null   float64
 68  DTDECLARAC      558367 non-null   float64
 69  PARIDADE        562963 non-null   float64
 70  KOTELCHUCK      562963 non-null   float64
 71  CONTADOR        332763 non-null   float64
 72  Nome_Municipio  367619 non-null   object
dtypes: datetime64[ns](1), float64(64), int64(2), object(6)
memory usage: 786.8+ MB

In [11]:
df_baixo_peso.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98055 entries, 0 to 98054
Data columns (total 75 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   contador          72346 non-null  float64
 1   LOCNASC           98055 non-null  int64
 2   CODMUNNASC        98055 non-null  object
 3   IDADEMAE          97956 non-null  float64
 4   ESTCIVMAE         96951 non-null  float64
 5   ESCMAE            96292 non-null  float64
 6   QTDFILVIVO        94019 non-null  float64
 7   QTDFILMORT        91752 non-null  float64
 8   CODMUNRES         98055 non-null  int64
 9   GESTACAO          96758 non-null  float64
 10  GRAVIDEZ          97937 non-null  float64
 11  PARTO             97952 non-null  float64
 12  CONSULTAS         97784 non-null  float64
 13  DTNASC            97558 non-null  datetime64[ns]
 14  SEXO              98055 non-null  object
 15  APGAR1            94531 non-null  float64
 16  APGAR5            93596 non-null  float64
 17  RACACOR           92100 non-null  float64
 18  PESO              98055 non-null  float64
 19  CODANOMAL         2497 non-null   object
 20  CODESTAB          93741 non-null  float64
 21  CODOCUPMAE        79769 non-null  float64
 22  IDANOMAL          91816 non-null  float64
 23  CODBAINASC        3528 non-null   float64
 24  CODBAIRES         12407 non-null  float64
 25  UFINFORM          32630 non-null  float64
 26  HORANASC          74865 non-null  object
 27  DTCADASTRO        74964 non-null  float64
 28  DTRECEBIM         74952 non-null  float64
 29  ORIGEM            58115 non-null  float64
 30  CODCART           1986 non-null   float64
 31  NUMREGCART        1935 non-null   float64
 32  DTREGCART         1951 non-null   float64
 33  CODPAISRES        45767 non-null  float64
 34  NUMEROLOTE        58115 non-null  float64
 35  VERSAOSIST        58115 non-null  object
 36  DIFDATA           58115 non-null  float64
 37  DTRECORIG         12069 non-null  float64
 38  NATURALMAE        53259 non-null  float64
 39  CODMUNNATU        53916 non-null  float64
 40  SERIESCMAE        38641 non-null  float64
 41  DTNASCMAE         53695 non-null  float64
 42  RACACORMAE        51839 non-null  float64
 43  QTDGESTANT        53525 non-null  float64
 44  QTDPARTNOR        53298 non-null  float64
 45  QTDPARTCES        52991 non-null  float64
 46  IDADEPAI          8687 non-null   float64
 47  DTULTMENST        42515 non-null  float64
 48  SEMAGESTAC        53146 non-null  float64
 49  TPMETESTIM        45706 non-null  float64
 50  CONSPRENAT        48730 non-null  float64
 51  MESPRENAT         51350 non-null  float64
 52  TPAPRESENT        53798 non-null  float64
 53  STTRABPART        53462 non-null  float64
 54  STCESPARTO        49464 non-null  float64
 55  TPROBSON          50738 non-null  float64
 56  STDNEPIDEM        58115 non-null  float64
 57  STDNNOVA          58115 non-null  float64
 58  RACACOR_RN        355 non-null    float64
 59  RACACORN          101 non-null    float64
 60  ESCMAE2010        49062 non-null  float64
 61  CODMUNCART        3861 non-null   float64
 62  CODUFNATU         45593 non-null  float64
 63  TPNASCASSI        45624 non-null  float64
 64  ESCMAEAGR1        45172 non-null  float64
 65  DTRECORIGA        3955 non-null   float64
 66  TPFUNCRESP        41373 non-null  float64
 67  TPDOCRESP         41871 non-null  float64
 68  DTDECLARAC        41754 non-null  float64
 69  PARIDADE          42012 non-null  float64
 70  KOTELCHUCK        42012 non-null  float64
 71  CONTADOR          25709 non-null  float64
 72  Nome_Municipio_x  23091 non-null  object
 73  Ano               97558 non-null  float64
 74  Nome_Municipio_y  23091 non-null  object
dtypes: datetime64[ns](1), float64(65), int64(2), object(7)
memory usage: 56.1+ MB

In [ ]:
df_total.to_parquet('df_total.parquet')
df_baixo_peso.to_parquet('df_baixo_peso.parquet')