In [1]:
import streamlit as st
import pandas as pd
import os
import geopandas as gpd

# Caminho para o arquivo shapefile
shapefile_path = os.path.join(os.getcwd(), 'shapefile', 'PB_Municipios_2022.shp')  # Certifique-se de que o nome do arquivo está correto

# Carregar o shapefile
data = gpd.read_file(shapefile_path)

# Salvar como GeoJSON
data.to_file('municipios_paraiba.geojson', driver='GeoJSON')

# Caminho relativo para o diretório onde estão os arquivos .csv
diretorio_csv = os.path.join(os.getcwd(), 'Dados_csv')

# Função para carregar dados diretamente dos arquivos CSV
def load_data(diretorio_csv):
    dataframes = []
    for arquivo in os.listdir(diretorio_csv):
        if arquivo.endswith('.csv'):
            caminho_completo = os.path.join(diretorio_csv, arquivo)
            try:
                # Definir os tipos de dados esperados para as colunas problemáticas
                dtypes = {
                    'IDADEMAE': 'float64',  # Exemplo, ajuste conforme necessário
                    'CODMUNNASC': 'str',     # Manter como string
                    'PESO': 'str'            # Manter como string antes da conversão
                }
                
                # Carregar cada arquivo CSV em um DataFrame e adicionar à lista
                df = pd.read_csv(caminho_completo, dtype=dtypes, )
                dataframes.append(df)
            except Exception as e:
                st.error(f'Erro ao ler o arquivo {arquivo}: {e}')
    
    # Concatenar todos os DataFrames em um único DataFrame, se houver dados
    if dataframes:
        df_total = pd.concat(dataframes, ignore_index=True)
        return df_total
    else:
        st.warning('Nenhum arquivo .csv encontrado ou lido.')
        return None

# Carregar os dados CSV
df_total = load_data(diretorio_csv)

# Função para pré-processamento dos dados
def preprocess_data(df):

    try:
        # Converte a coluna DTNASC para datetime
        df['DTNASC'] = pd.to_datetime(df['DTNASC'], format='%d%m%Y', errors='coerce')
        
        # Converte a coluna PESO para string, substitui vírgulas por pontos e remove espaços
        df['PESO'] = df['PESO'].astype(str).str.replace(',', '.').str.strip()
        
        # Converter para float, forçando valores inválidos a serem NaN
        df['PESO'] = pd.to_numeric(df['PESO'], errors='coerce')
        
        # Converter a idade da mãe para numérico
        df['IDADEMAE'] = pd.to_numeric(df['IDADEMAE'], errors='coerce')

        # Garantir que CODMUNNASC seja uma string
        df['CODMUNNASC'] = df['CODMUNNASC'].fillna('').astype(str)

        # Filtragem para pesos abaixo de 2500 e códigos de município que começam com '25'
        df_baixo_peso = df[(df['PESO'] < 2500) & (df['PESO'] > 0) & (df['CODMUNNASC'].str.startswith('25'))].reset_index(drop=True)
        
        # Adiciona a coluna 'Ano' ao DataFrame df_baixo_peso
        df_baixo_peso['Ano'] = df_baixo_peso['DTNASC'].dt.year

        return df_baixo_peso
    except Exception as e:
        st.error(f"Erro durante o pré-processamento: {e}")
        return None


# Inicializa df_baixo_peso como None
df_baixo_peso = None

# Verifique as colunas do GeoDataFrame
if 'CD_MUN' in data.columns and 'NM_MUN' in data.columns:
    municipios_mapping = data[['CD_MUN', 'NM_MUN']].copy()
    municipios_mapping.columns = ['CODMUNNASC', 'Nome_Municipio']
else:
    raise ValueError("As colunas 'CD_MUN' e 'NM_MUN' não estão presentes no GeoDataFrame.")

# Garantir que CODMUNNASC seja string para corresponder com os DataFrames
municipios_mapping['CODMUNNASC'] = municipios_mapping['CODMUNNASC'].astype(str)

# Mesclar o nome do município em df_baixo_peso e df_total
if df_total is not None:
    df_total = df_total.merge(municipios_mapping, on='CODMUNNASC', how='left')
    df_baixo_peso = preprocess_data(df_total)  # Chama a função de pré-processamento
    if df_baixo_peso is not None:
        df_baixo_peso = df_baixo_peso.merge(municipios_mapping, on='CODMUNNASC', how='left')

C:\Users\PICHAU\AppData\Local\Temp\ipykernel_2468\2143367124.py:33: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(caminho_completo, dtype=dtypes, )
C:\Users\PICHAU\AppData\Local\Temp\ipykernel_2468\2143367124.py:33: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(caminho_completo, dtype=dtypes, )
C:\Users\PICHAU\AppData\Local\Temp\ipykernel_2468\2143367124.py:33: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(caminho_completo, dtype=dtypes, )

In [2]:
df_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 794027 entries, 0 to 794026
Data columns (total 70 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   contador        461264 non-null  float64
 1   ORIGEM          794027 non-null  int64
 2   CODCART         21646 non-null   float64
 3   NUMREGCART      20060 non-null   float64
 4   DTREGCART       20312 non-null   float64
 5   CODESTAB        790721 non-null  float64
 6   CODMUNNASC      794027 non-null  object
 7   LOCNASC         794027 non-null  int64
 8   IDADEMAE        794027 non-null  float64
 9   ESTCIVMAE       782551 non-null  float64
 10  ESCMAE          779587 non-null  float64
 11  CODOCUPMAE      616800 non-null  float64
 12  QTDFILVIVO      776093 non-null  float64
 13  QTDFILMORT      759396 non-null  float64
 14  CODMUNRES       794027 non-null  int64
 15  CODPAISRES      619909 non-null  float64
 16  GESTACAO        780940 non-null  float64
 17  GRAVIDEZ        792735 non-null  float64
 18  PARTO           792804 non-null  float64
 19  CONSULTAS       793799 non-null  float64
 20  DTNASC          790051 non-null  datetime64[ns]
 21  HORANASC        792919 non-null  object
 22  SEXO            794027 non-null  object
 23  APGAR1          786096 non-null  float64
 24  APGAR5          785400 non-null  float64
 25  RACACOR         745462 non-null  float64
 26  PESO            793947 non-null  float64
 27  IDANOMAL        774553 non-null  float64
 28  DTCADASTRO      794026 non-null  float64
 29  CODANOMAL       6586 non-null    object
 30  NUMEROLOTE      794026 non-null  float64
 31  VERSAOSIST      794025 non-null  object
 32  DTRECEBIM       793876 non-null  float64
 33  DIFDATA         794015 non-null  float64
 34  DTRECORIG       174278 non-null  float64
 35  NATURALMAE      719184 non-null  float64
 36  CODMUNNATU      727610 non-null  float64
 37  SERIESCMAE      496645 non-null  float64
 38  DTNASCMAE       720102 non-null  float64
 39  RACACORMAE      683867 non-null  float64
 40  QTDGESTANT      719575 non-null  float64
 41  QTDPARTNOR      711294 non-null  float64
 42  QTDPARTCES      705536 non-null  float64
 43  IDADEPAI        155274 non-null  float64
 44  DTULTMENST      609953 non-null  float64
 45  SEMAGESTAC      720663 non-null  float64
 46  TPMETESTIM      613892 non-null  float64
 47  CONSPRENAT      662044 non-null  float64
 48  MESPRENAT       703140 non-null  float64
 49  TPAPRESENT      726464 non-null  float64
 50  STTRABPART      718534 non-null  float64
 51  STCESPARTO      665772 non-null  float64
 52  TPROBSON        682631 non-null  float64
 53  STDNEPIDEM      794026 non-null  float64
 54  STDNNOVA        794027 non-null  int64
 55  RACACOR_RN      7115 non-null    float64
 56  RACACORN        2145 non-null    float64
 57  ESCMAE2010      660177 non-null  float64
 58  CODMUNCART      56854 non-null   float64
 59  CODUFNATU       614056 non-null  float64
 60  TPNASCASSI      614376 non-null  float64
 61  ESCMAEAGR1      606491 non-null  float64
 62  DTRECORIGA      56083 non-null   float64
 63  TPFUNCRESP      543626 non-null  float64
 64  TPDOCRESP       559590 non-null  float64
 65  DTDECLARAC      558367 non-null  float64
 66  PARIDADE        562963 non-null  float64
 67  KOTELCHUCK      562963 non-null  float64
 68  CONTADOR        332763 non-null  float64
 69  Nome_Municipio  0 non-null       object
dtypes: datetime64[ns](1), float64(59), int64(4), object(6)
memory usage: 424.1+ MB

In [3]:
df_baixo_peso.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58115 entries, 0 to 58114
Data columns (total 72 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   contador          32406 non-null  float64
 1   ORIGEM            58115 non-null  int64
 2   CODCART           1986 non-null   float64
 3   NUMREGCART        1935 non-null   float64
 4   DTREGCART         1951 non-null   float64
 5   CODESTAB          57519 non-null  float64
 6   CODMUNNASC        58115 non-null  object
 7   LOCNASC           58115 non-null  int64
 8   IDADEMAE          58115 non-null  float64
 9   ESTCIVMAE         57569 non-null  float64
 10  ESCMAE            57348 non-null  float64
 11  CODOCUPMAE        48489 non-null  float64
 12  QTDFILVIVO        57204 non-null  float64
 13  QTDFILMORT        56662 non-null  float64
 14  CODMUNRES         58115 non-null  int64
 15  CODPAISRES        45767 non-null  float64
 16  GESTACAO          57063 non-null  float64
 17  GRAVIDEZ          58035 non-null  float64
 18  PARTO             58055 non-null  float64
 19  CONSULTAS         58102 non-null  float64
 20  DTNASC            57830 non-null  datetime64[ns]
 21  HORANASC          58052 non-null  object
 22  SEXO              58115 non-null  object
 23  APGAR1            56905 non-null  float64
 24  APGAR5            56943 non-null  float64
 25  RACACOR           55770 non-null  float64
 26  PESO              58115 non-null  float64
 27  IDANOMAL          57251 non-null  float64
 28  DTCADASTRO        58115 non-null  float64
 29  CODANOMAL         1502 non-null   object
 30  NUMEROLOTE        58115 non-null  float64
 31  VERSAOSIST        58115 non-null  object
 32  DTRECEBIM         58109 non-null  float64
 33  DIFDATA           58115 non-null  float64
 34  DTRECORIG         12069 non-null  float64
 35  NATURALMAE        53259 non-null  float64
 36  CODMUNNATU        53916 non-null  float64
 37  SERIESCMAE        38641 non-null  float64
 38  DTNASCMAE         53695 non-null  float64
 39  RACACORMAE        51839 non-null  float64
 40  QTDGESTANT        53525 non-null  float64
 41  QTDPARTNOR        53298 non-null  float64
 42  QTDPARTCES        52991 non-null  float64
 43  IDADEPAI          8687 non-null   float64
 44  DTULTMENST        42515 non-null  float64
 45  SEMAGESTAC        53146 non-null  float64
 46  TPMETESTIM        45706 non-null  float64
 47  CONSPRENAT        48730 non-null  float64
 48  MESPRENAT         51350 non-null  float64
 49  TPAPRESENT        53798 non-null  float64
 50  STTRABPART        53462 non-null  float64
 51  STCESPARTO        49464 non-null  float64
 52  TPROBSON          50738 non-null  float64
 53  STDNEPIDEM        58115 non-null  float64
 54  STDNNOVA          58115 non-null  int64
 55  RACACOR_RN        355 non-null    float64
 56  RACACORN          101 non-null    float64
 57  ESCMAE2010        49062 non-null  float64
 58  CODMUNCART        3861 non-null   float64
 59  CODUFNATU         45593 non-null  float64
 60  TPNASCASSI        45624 non-null  float64
 61  ESCMAEAGR1        45172 non-null  float64
 62  DTRECORIGA        3955 non-null   float64
 63  TPFUNCRESP        41373 non-null  float64
 64  TPDOCRESP         41871 non-null  float64
 65  DTDECLARAC        41754 non-null  float64
 66  PARIDADE          42012 non-null  float64
 67  KOTELCHUCK        42012 non-null  float64
 68  CONTADOR          25709 non-null  float64
 69  Nome_Municipio_x  0 non-null      object
 70  Ano               57830 non-null  float64
 71  Nome_Municipio_y  0 non-null      object
dtypes: datetime64[ns](1), float64(60), int64(4), object(7)
memory usage: 31.9+ MB

In [4]:
df_total.astype({'SEXO':str, 'HORANASC':str}).to_parquet('df_total.parquet' )
df_baixo_peso.astype({'SEXO':str, 'HORANASC':str}).to_parquet('df_baixo_peso.parquet')